<div class="container"><h1 class="heading">Contact Us</h1>
    <h2 class="sub-heading">if you have any questions or would like to find out more about our products, 
        please contact us using one of the method below</h2>
    <h2 class="sub-heading"><b>hours:</b> Monday-Friday 8:30AM - 8PM (EST)</h2>
    <ul class="sub-heading">
    <li><span class="bold-text">General Support </span>(877) 435-3287</li>
    <li><span class="bold-text">Electrolux.com online orders </span>(833) 840-5925</li>
    <li><span class="bold-text">Small Kitchen Appliances, Vacuuams &amp; Cleaners: </span>(800) 896-9756</li>
    </ul>
    </div>