<div class="container">
    <div class="row"><div class="col" *ngIf="isLoggedIn">
   <a (click)="gotoLogin()" class="text-link"> Login the see more information about the product </a>  
</div>
 <!--
<ng-template #anonmUser>
    <a  href="https://sap.github.io/spartacus-docs/3.x/building-the-spartacus-storefront-from-libraries-3-2/" 
    target="_blank">Quick Links</a>
  </ng-template>
<div class="col"> <a (click)="gotoLogin()" class="text-link"> Login the see more information about the product </a>  </div>-->
</div></div>