<div class="row">
  <div class="col">
  <h4 class="text-center"><b class="">You may also like this..</b></h4></div>
  <div class="row py-3 text-center select_anotherModel">
    <div class="col-4">
  <ng-container *ngIf="myCurrentProduct1$ | async as product">
    <a tabindex="0" [routerLink]="{ cxRoute: 'product', params: product } | cxUrl">
    <img [src]="product.images?.PRIMARY?.product?.url" alt="" />
      <h4> {{product?.name}}</h4>
     <h4>{{product?.price?.formattedValue}}</h4>
   </a>
  </ng-container>
</div>
<div class="col-4">
  <ng-container *ngIf="myCurrentProduct2$ | async as product">
    <a tabindex="0" [routerLink]="{ cxRoute: 'product', params: product } | cxUrl">
    <img [src]="product.images?.PRIMARY?.product?.url" alt="" />
      <h4> {{product?.name}}</h4>
     <h4>{{product?.price?.formattedValue}}</h4>
     </a>
  </ng-container>
</div>
<div class="col-4">
  <ng-container *ngIf="myCurrentProduct3$ | async as product">
    <a tabindex="0" [routerLink]="{ cxRoute: 'product', params: product } | cxUrl">
    <img [src]="product.images?.PRIMARY?.product?.url" alt="" />
      <h4> {{product?.name}}</h4>
     <h4>{{product?.price?.formattedValue}}</h4>
     </a>
  </ng-container>
</div>

</div>