<ng-container *ngIf="cart$ | async as cart">
    <ng-container *ngIf="entries$ | async as entries">
        <div class="mt-5 ml-5 border-box">
       <app-custom-order-summary [cart]="cart"></app-custom-order-summary>
    <ng-container>
      <button
        [routerLink]="{ cxRoute: 'checkout' } | cxUrl"
        *ngIf="entries.length"
        class="btn btn-primary btn-block"
        type="button"
      >
      Proceed to Checkout
      </button>
    </ng-container>

  <!-- <ng-container>
      <cx-progress-button
        *ngIf="entries.length"
        [routerLink]="{ cxRoute: 'checkout' } | cxUrl"
        [loading]="cartValidationInProgress"
        [disabled]="cartValidationInProgress"
        [class]="'btn btn-primary btn-block'"
        (clikEvent)="disableButtonWhileNavigation()"
      >
      proceed to Checkout
      </cx-progress-button>
    </ng-container>--> 
  </div>
      </ng-container></ng-container>