.flex-direction {flex-direction: column !important;}
.arrow-ic {position: relative;}
.cx-cart-coupon-container {display: flex;}
    .arrow-ic cx-icon { position: absolute;top:35px;left: 50%;z-index: 99;}