<accordion [isAnimated]="true">
  <div class="pt-3 ml-5 arrow-ic">
    <cx-icon type="CARET_DOWN"></cx-icon>
  <accordion-group heading="Have a coupon?">
    <ng-container *ngIf="cart$ | async as cart">
      <div class="flex-direction">
      <div class="col form-group pt-2">
        <form (ngSubmit)="applyVoucher()" [formGroup]="couponForm">
          <div class="cx-cart-coupon-container">
            <input
              aria-required="true"
              type="text"
              class="form-control input-coupon-code"
              formControlName="couponCode"
              placeholder="Promo Code"
            />
            <div class="cx-cart-quick-order-form-qty">
            <button
              class="btn btn-block btn-action apply-coupon-button"
              type="submit"
              [disabled]="cartIsLoading$ | async"
              [class.disabled]="cartIsLoading$ | async"
            >
              Add
            </button></div></div>
            <cx-form-errors
            aria-live="assertive"
            aria-atomic="true"
            [control]="couponForm.get('couponCode')"
          ></cx-form-errors>
          
        </form>
      </div>
      <ng-container *ngIf="applicableCoupons && applicableCoupons.length > 0">
        <div class="cx-available-coupon">
          <div class="title cx-cart-coupon-title">
            {{ 'voucher.availableCoupons' }}
          </div>
          <div class="message">
            {{ 'voucher.availableCouponsLabel' }}
          </div>
          <div class="scroll">
            <div class="coupons card" *ngFor="let coupon of applicableCoupons">
              <button
                (click)="applyCustomerCoupon(coupon.couponId)"
                class="coupon-id link"
                [disabled]="cartIsLoading$ | async"
                [class.disabled]="cartIsLoading$ | async"
              >
                {{ coupon.couponId }}
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  </accordion-group>
</div>

</accordion>