 /* 
  .btn-primary, .btn-primary:hover, cx-tab-paragraph-container > button:after {background-color:#041e3c !important}
  cx-tab-paragraph-container > button.active, cx-tab-paragraph-container > button:hover {
    color:#041e3c;  } */

  /* star icon theme */
  :root {--cx-color-myprimary: #041e3c;  }

  %cx-star-rating {
    padding: 15px 0;
  
    &:not([disabled='true']) {
      cursor: pointer;
    }
  
     .star {
      font-size: 20px !important;
      margin: 0 2.5px;
  
      @for $i from 1 to 6 {
        &:nth-child(#{$i}) {
          // The rating is visualized with five stars, with a background color that represents
          // the actual rating. The background uses gradient stops. The rating is rendered in
          // the primary color (--cx-color-primary), the rest defaults to --cx-color-light.
          background: linear-gradient(
            calc(var(--star-rating-dir, 1) * 90deg),
            var(--cx-color-myprimary) 0%,
            var(--cx-color-myprimary)
              calc((var(--star-fill, 0) - #{$i} + 1) * 100%),
            var(--cx-color-light) calc((var(--star-fill, 0) - #{$i} + 1) * 100%)
          );
          // somehow we cannot move the text related clip and fill color outside this loop.
          // most likely they cannot come before the definition of the background.
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  /* cart Page Modification */
  .border-box {border:1px solid #aaa;box-sizing: border-box}
  app-custom-order-summary h3 {text-transform:uppercase;font-size:var(--cx-font-size, 1.125rem); text-decoration: underline;font-weight:600}
  .detail-box {display: flex; justify-content: space-between;margin:20px 0;font-size:1rem;}
  .cx-cart-quick-order-form-qty {width:30%;margin-left:10px}
  .custom-cart-title {font-size:1rem;font-weight: 600;text-decoration: underline;}

  .card-header:first-child {padding:0 !important;margin:0 !important; background: transparent;}

  accordion .btn-link {color:#222;font-size: 1rem;font-weight: 600;text-decoration: underline;}
  accordion .btn-link:focus {box-shadow: none;}
  accordion .card-body {padding:0}